/* input {
    border-radius: 1px;
    border: 0;
    border-bottom: 2px solid black;
    border-left: 2px solid blue;
}

input:hover {
    background-color: #cccccc;
    border: 2px solid  black;
    border-left: 5px solid blue;
    border-bottom: 2px solid black;
    color: red;
} */

/* #press_me {
    border-radius: 5px;
    box-shadow: 2px 2px 5px;
    background-color: black;
    color: white;
    padding: 8px;
} */

li {
    padding-left: 5px;
}

h1 {
    color: grey;
}